src/test/xsd/bbg_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instruments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instrument" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="inst_type"/>
              <xs:element type="xs:string" name="inst_id"/>
              <xs:element type="xs:string" name="inst_name"/>
              <xs:element type="xs:byte" name="trade_id"/>
              <xs:element type="xs:string" name="vendor"/>
              <xs:element type="xs:float" name="price"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>